img{
    height: 250px;

}

.top-button{
    color: #03A678;
}


body {
    Margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    padding: 24px 0px 0px 24px;
}

nav{
    border-bottom: 1px;
    padding: 16px;
}



nav{
    background-color: #731702;

}

html{
    background-color: #F27405;
    color:black;
    font-style: italic;
}
footer{
    background-color: #014040;
    margin-top: auto;
    padding: 20px;S

}

hr{
    height:3px;
    border: 0px;
    background-color:black;
    margin: 0px
}

a:hover{
    font-size: 30px;
    color: gray;
}

#taco-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


#adjusting-taco{
    display: grid;

}

.color-ingr{
    background-color: gainsboro
}

#center-steps{
    position: relative;
    left: 30px;
}
